@charset "utf-8";
@media screen and (max-width:1440px){
    section .inner{
        padding-inline: 24px;
    }
}

@media screen and (max-width:1270px) {
    section .memu_con .menu_list {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    section .memu_con .menu_list li.ice_only .img_box::after,
    section .memu_con .menu_list li.hot_only .img_box::after {
    right: 30%;
    bottom: 40px;
    }
}

@media screen and (max-width:1100px) {
    section .memu_con .menu_list li .txt_box {
        padding: 80px 0 16px;
    }
}

@media screen and (max-width:1024px){
    section .memu_con .menu_list{
        gap: 50px 16px;
    }

    section .memu_con .menu_list li a {
        padding-bottom: 90px;
    }

    section .memu_con .menu_list li .txt_box {
        padding: 70px 0 16px;
    }

    section .memu_con .menu_list li .txt_box .name {
        font-size: 1rem;
    }

    section .memu_con .menu_list li .txt_box .e_name {
        font-size: 0.85rem;
    }

    section .memu_con .menu_list li .txt_box .price {
        font-size: 0.89rem;
    }
}

@media screen and (max-width:960px) {
    section .memu_con .menu_list li.new::before,
    section .memu_con .menu_list li.best::before{
        font-size: 0.9rem;
    }

    section .memu_con .menu_list li.ice_only .img_box::after,
    section .memu_con .menu_list li.hot_only .img_box::after {
        font-size: 0.89rem;
        /* width: 45px;
        height: 45px; */
        right: 26%;
    }

    
}

@media screen and (max-width:950px) {
    section .info_con .sub_tab li button {
        height: 55px;
    }

    section .memu_con .menu_list li a {
        padding-bottom: 85px;
    }

    section .memu_con .menu_list li .txt_box {
        padding: 80px 0 16px;
        gap: 8px;
    }
    section .memu_con .menu_list li .txt_box .name_con {
        gap: 2px;
    }
}

@media screen and (max-width:880px) {
    section .memu_con .menu_list {
        grid-template-columns: repeat(2, 1fr);
    }

    section .memu_con .menu_list li.ice_only .img_box::after,
    section .memu_con .menu_list li.hot_only .img_box::after {
    right: 32%;
    bottom: 40px;
    }
}

@media screen and (max-width:860px) {
    section .memu_con .menu_list li .txt_box .name {
        padding-inline: 2px;
    }
}

@media screen and (max-width:770px) {
    section .memu_con .menu_list li .txt_box {
        padding: 60px 0 16px;
    }

    section .memu_con .menu_list li.ice_only .img_box::after,
    section .memu_con .menu_list li.hot_only .img_box::after {
    right: 28%;
    bottom: 14%;
    }
}

@media screen and (max-width:760px) {
    .info_card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: clamp(8px, 3vw, 24px);
    }

    .info_card .info_left {
        display: none;
    }

    .info_card .info_right {
        border-radius: 16px;
        padding: 32px 24px;
        width: 450px;
        max-width: 100%;
        min-width: 340px;
    }
    
    .info_card .info_right .close {
        right: 24px;
        top: 32px;
    }
}

@media screen and (max-width:670px) {
    section .inner {
        padding-inline: 16px;
    }

    section .info_con .sub_tab {
        grid-template-columns: repeat(2, 1fr);
    }

    section .memu_con .menu_list li a {
        padding-bottom: 80px;
    }

    section .memu_con .menu_list li .txt_box {
        padding: 80px 0 16px;
        gap: 8px;
    }
    section .memu_con .menu_list li .txt_box .name_con {
        gap: 2px;
    }

    
}

@media screen and (max-width:560px) {
    section .info_con .sub_tab li button {
        font-size: 1rem;
    }

    section .info_con .sub_tab li button {
        height: 45px;
    }

    section .memu_con .menu_list li a {
        padding-bottom: 75px;
    }

    section .memu_con .menu_list li .txt_box {
        padding: 130px 0 16px;
        gap: 8px;
    }
    section .memu_con .menu_list li .txt_box .name_con {
        gap: 2px;
    }
}

@media screen and (max-width:520px){
    section .memu_con .menu_list {
        grid-template-columns: repeat(1, 1fr);
    }

    section .memu_con .menu_list li.ice_only::after,
    section .memu_con .menu_list li.hot_only::after {
    right: 22%;
    bottom: 39%;
    }
}

@media screen and (max-width:460px) {
    section .memu_con .menu_list li.ice_only::after,
    section .memu_con .menu_list li.hot_only::after {
    font-size: 0.8rem;
        width: 40px;
        height: 40px;
    }

    section .memu_con .menu_list li a {
        padding-bottom: 95px;
    }

    section .memu_con .menu_list li .txt_box {
        padding: 130px 0 16px;
    }
}

@media screen and (max-width:400px) {
    section .info_con .sorting ul {
        gap: 8px;
    }

    section .info_con .sorting ul li {
        padding-right: 9px;
    }

    section .info_con .sorting ul li button {
        font-size: 0.89rem;
    }

    section .memu_con .menu_list li.ice_only::after,
    section .memu_con .menu_list li.hot_only::after {
    right: 22%;
    bottom: 42%;
    }

    section .memu_con .menu_list li a {
        padding-bottom: 80px;
    }

    section .memu_con .menu_list li .txt_box {
        padding: 90px 0 16px;
        gap: 8px;
    }

    section .memu_con .menu_list li .txt_box .name_con {
        gap: 2px;
    }
    
    section .memu_con .menu_list li .txt_box .name {
        font-size: 0.89rem;
    }

    section .memu_con .menu_list li .txt_box .e_name {
        font-size: 13px;
    }

    section .memu_con .menu_list li .txt_box .price {
        font-size: 13px;
    }
}