@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

em {
   font-style: normal;
}

button {
   border: 0;
   padding: 0;
   outline: none;
   background: none;
}